<title>Product</title>
{% extends 'base.html' %}

{% include 'header.html' %}

{%block body%}

<br>
<div class="container" align="center">
	<br>
	<div div class="row-9">
		<DIV class="jumbotron p-3">
		<div class="col-12">
      <H3 align="left">View <b>Products</b></H3>
		<div align="right">
			<button class="btn btn-success btn-xs" data-toggle="modal" data-target="#addNewProduct"><i class="fa fa-plus-circle" aria-hidden="true" style="font-size:18px ; color: white" ></i>&nbsp; Product</button>
		
		</div>
		<br>
		{% with messages =  get_flashed_messages(with_categories=true) %}
              {% if messages %}
                  {% for category, message in messages %}
                      <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                          {% if category == "danger" or category == "warning" %}
                          <i class="fa fa-warning"></i>
                          {% endif %}
                          {{ message }}
                      </div>
                  {% endfor %}
              {% endif %}
            {% endwith %}
			
			<table class="table table-striped table-dark">
				<tr>
          <th><b>Product ID</b></th>
					<th><b>Product Name</b></th>
					<th><b>Product Quantity</b></th>
					<th><b>Action</b></th>
				</tr>
        {% if message is none%}

				{% for product in product_details%}
				<tr>
					<td>{{product.id}}</td>
          <td>{{product.name}}</td>
					<td>{{product.available_quantity}}</td>
					<td>
						<div style="width:70px;">
    					<div style="float: left; width: 13px"> 
						
            <button  style="border: 0; background: none;"  data-toggle="modal" data-target="#editProduct{{product.id}}" ><i class="fa fa-edit" style="font-size:24px ; color: white"></i></button>
					</div>
					 <div style="float: right; width: 5px"> 
						<form action="/product" method="POST" >
							<input type="hidden" name="delete_product_id" id="delete_product_id" value={{product.id}}>
              <button type="submit" name="submit" onclick="this.blur(); return confirm('Are you sure to delete {{product.name}}?');" style="border: 0; background: none;">
            <i class="fa fa-trash-o" style='font-size:24px ; color: white' aria-hidden="true"></i>
          </button>
						</form>
					</div>
				</div>
					<!-- Edit Product Modal -->

						<div class="modal" id="editProduct{{ product.id }}">
              <form action="/product" method="POST">
                <div class="modal-dialog">
                  <div class="modal-content">
            
                    <div class="modal-header">
                      <h5 class="modal-title font-weight-bold" style="color: BLACK">Edit Product</h5>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    
                    <div class="modal-body bg-light">
                      <div class="form-group">
                        <label class="font-weight-bold" style="color: BLACK">Product Details</label>
                        <input type="hidden" name="editproduct" value="{{ product.id }}">
                        <input type="text" name="product_name" class="form-control"
                        value="{{ product.name}}" required autofocus autocomplete="off">
                      </div>
                    </div>

                    <div class="modal-footer">
                      <input name="editproduct" value="{{ product.id }}" hidden>
                      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                      </button>
                      <input type="submit" class="btn btn-success" value="Save changes">                                
                  </div>
                    
                  </div>
                </div>
              </form>
            </div>
					</td>
				</tr>
				{% endfor %}
        </table>
        {% else %}

          <h3>{{message}}</h3>
          <br>
        
        {% endif %}
			
			</DIV>
		</div>
	 	
	</div>

	<div class="modal" id="addNewProduct">
    <form action="/product" method="POST">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title font-weight-bold">Add New Product</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <div class="modal-body bg-light">
          <div class="form-group">
            <label class="font-weight-bold">Product</label>
            <input type="text" class="form-control" name="add_product_name" 
            id="add_product_name" required autocomplete="off">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
          </button>
          <input type="submit" class="btn btn-success" value="Save">
        </div>
        
      </div>
    </div>
  </form>
  </div>
	
</div>


{%endblock%}